{% extends 'Base.html' %}

{% block title %}

    Sobre mí

{% endblock %}



{% block body %}
    <div class="card text-bg-dark mb-2 card border-light mb-2" style="max-width: 50rem; left: 20%;">
        <div class="card-body">
            <h3 style="text-align:center;">Mi nombre es Camilo Orjuela, estudiante de Ingenieria de sofware. Tengo 28 años.</h3>
        </div>
    </div>
    <p></p>
    <div class="card text-bg-dark mb-lg-0 card border-light mb-lg-0" style="max-width: 70rem; left: 9%;">
        <div class="card-body">
            <h4 style="text-align:center; color: rgb(135, 116, 243)"> Soy un tipo de trabajador que está acostumbrado al trabajo bajo presión, tengo varios años de experiencia en atención al cliente y en búsqueda de oportunidades comerciales. También me considero una persona resolutiva, con buen ánimo y capaz de resolver problemas fácilmente.
            </h4>
        </div>
    </div>
{% endblock %}